@font-face {
    font-family: 8-bit;
    src: url(8-bit.TTF);
}

body {
  margin: 0;
  background-image: url("images/couv.jpg");
  background-size: cover;
  font-family: 8-bit, sans-serif;
}

.header {
  position: absolute;
  display: block;
  width: 100%;
  height: 100px;
}

.titre {
  text-align: center;
  right: 15%;
  top: 1%;
  position: absolute;
  font-size: 40px;
  color: white;
}

@media screen and (max-width : 600px) {
  .titre {
    font-size: 30px;
    right: 5px;
  }
  body {
    background-size:cover;
  }
}
