body {
    font-family: sans-serif;
}
h1 {
  text-align: center;
}

.container {
    margin: auto;
    width: 1080px;
    padding:40px;
}

.instrument {
  margin: 60px auto!important;
}

.screen {
  position: relative;
  margin: auto;
  width:980px;
  height:700px;
  background-image: url(../images/playground_wallpaper.jpg);
  background-size: cover;
  background-position:  center;
}

.notes {
  position:absolute;
    transition: all 4s;
}

.Anote {
  left: 370px;
}

.Znote {
left:420px;
}

.Enote {
left:470px;
}

.Rnote {
right:360px;
}

.kikoo {
  transform: translate(50px, 100px);
}
