body {
    font-family: sans-serif;
}
h1 {
  text-align: center;
}

.container {
    margin: auto;
    width: 1080px;
    padding:40px;
}

.instrument {
  margin: 60px auto!important;
}

.screen {
  position: relative;
  margin: auto;
  width:980px;
  height:700px;
  background-image: url(../images/playground_wallpaper.jpg);
  background-size: cover;
  background-position:  center;
}

.notes {
  position: absolute;
  transition : transform 5s;
  -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
     animation-timing-function: linear;
   animation-duration: 4s;
}

.Anote {
  left:370px;
  animation-name: Amove;

}

.Znote {
left:420px;
animation-name: Zmove;
}

.Enote {
left:470px;
animation-name: Emove;
}

.Rnote {
right:360px;
animation-name: Rmove;
}


@keyframes Amove {
    0%   {top:0px;left:370px;transform:scale(1);}
    100% {top:600px;left:90px;transform:scale(2.5);}
}
@keyframes Zmove {
    0%   {top:0px;left:370px;transform:scale(1);}
    100% {top:600px;left:90px;transform:scale(2.5);}
}
@keyframes Emove {
    0%   {top:0px;left:370px;transform:scale(1);}
    100% {top:600px;left:90px;transform:scale(2.5);}
}
@keyframes Rmove {
    0%   {top:0px;left:370px;transform:scale(1);}
    100% {top:600px;left:90px;transform:scale(2.5);}
}
