html {
  background: url('../images/Wallpapers 1920x1080.jpg');
  background-repeat: no-repeat;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
margin: 0 40px;
  justify-content: space-around;

}
.display{
  display:flex;
}

.key {
  border: .1rem solid #FFF;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
}

.playing:first-child {
  border-color: blue;
  box-shadow: 0 0 1rem blue;
}
.playing:nth-child(2) {
  border-color: forestgreen;
  box-shadow: 0 0 1rem forestgreen;
}
.playing:nth-child(3) {
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
.playing:last-child {
  border-color: red;
  box-shadow: 0 0 1rem red;
}

kbd {
  display: block;
  font-size: 4rem;
}
